*.egg
*.egg-info
*.lock
*.pyc
*.pyo
.DS_Store
.idea/
.Rproj.user
.tox
_mailinglist
dist
env
env*
start.sh
venv/
venv/*
.env

/bower_components/**/*
/node_modules/**/*
npm-debug.log

!/node_modules/bower_components
!/node_modules/views