/vendor
/bower_components/**/*
/node_modules/**/*
!/node_modules/views
!/node_modules/bower_components
/public/**/*
!/public/index.php
Homestead.yaml
Homestead.json
.env
.DS_Store
*.lock
npm-debug.log