*.egg
*.egg-info
*.lock
*.pyc
*.pyo
*.sublime-project
*.sublime-workspace
.DS_Store
.env_flask
.idea/
.Rproj.user
.sass-cache/
.tox
_mailinglist
bower_components/
dist
env
env*
node_modules/
npm-debug.log
static/
venv/
uploads/
