API_URL=
FLASK_CONFIG=
FLASK_MAX_CONTENT_LENGTH=
FLASK_SECRET_KEY=
FLASK_UPLOAD_FOLDER=
GOOGLE_ANALYTICS_ID=
HTTP_HOST=
LANG=en_US.UTF-8
LC_ALL=en_US.UTF-8
LC_CTYPE=en_US.UTF-8
MAIL_DEFAULT_SENDER=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_SERVER=
MAIL_USERNAME=
MAILCHIMP_API_KEY=
MAILCHIMP_LIST_ID=
MAILCHIMP_USERNAME=
SQLALCHEMY_DATABASE_URI=
