<!DOCTYPE html>
<html><head>

    <meta charset="UTF-8" />
    <title>It's your friendly side-kick!</title>

    <link href="{{ url_for('static', filename='side-kick.css') }}" rel="stylesheet" type="text/css" />

    <meta name="csrf-token" content="{{ csrf_token() }}" />

    {% block head %}{% endblock %}
</head><body>
    {{ svg_sprite | safe }}

    <section class="side-kick {{ page_class or '' }}">
        {% if not is_email_confirmed %}
            <p class="message">
                Please confirm your email address with the confirmation link that was sent to you.<br/>
                <a href="{{ url_for( 'auth.resend_confirm' ) }}">Resend email</a>.
            </p>
        {% endif %}

        {% block content %}{% endblock %}

        {% include 'shared/footer.html' %}
    </section>

    <script>
        var page_update_url = '{{ page_update_url }}',
            site_download_url = '{{ site_download_url }}',
            page_manage_url = '{{ page_manage_url }}';
    </script>
    <script src="{{ url_for('static', filename='side-kick.js') }}"></script>

    {% block footer %}{% endblock %}
</body></html>
