{% extends 'side-kick/_base.html' %}

{% block content %}
    {{ super() }}

    <nav class="devices">
        <a href="/page/{{ site_name }}" class="link" target="_blank">
            <svg class="icon">
                <use class="use" xlink:href="#preview"></use>
            </svg>
            <span class="title">{{ site_name }}</span>
        </a>

        <a href="/mobile" class="device {{ 'none' if on_phone }}">
            <svg class="icon">
                <use class="use" xlink:href="#mobile"></use>
            </svg>
            <span class="title">Mobile</span>
        </a>

        <a href="/desktop" class="device current {{ 'none' if on_phone }}">
            <svg class="icon">
                <use class="use" xlink:href="#desktop"></use>
            </svg>
            <span class="title">Desktop</span>
        </a>
    </nav>

    <ul class="features">
        {% for feature in features %}
            <li class="feature {{ feature.name }} close">
                <header class="header">
                    <h3 class="title">{{ feature.title }}</h3>
                    <svg class="icon caret">
                        <use class="use" xlink:href="#caret-up"></use>
                    </svg>
                </header>
                
                {% from 'macros/form/base.html' import base_form %}
                {% call base_form( class='body', fields=feature.fields, action='blah.php' ) %}{% endcall %}
            </li>
        {% endfor %}
    </ul>

    <button id="download-button" class="button" type="button">
        <span class="title">Download</span>
        <svg class="icon">
            <use class="use" xlink:href="#spinner"></use>
        </svg>
    </button>
{% endblock %}
