<!DOCTYPE html>
<html><head>

    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="theme-color" content="#233733">

    <link href="{{ url_for('static', filename='page.css') }}" rel="stylesheet" type="text/css" />

    {% block head %}{% endblock %}
</head><body class="background">

    <section class="static-page">
        {% block content %}{% endblock %}
    </section>

    {% block footer %}{% endblock %}
</body></html>