<!DOCTYPE html>
<html><head>

    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, target-densitydpi=high-dpi, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="theme-color" content="#000813">

    {% assets "../assets/scss/page.scss",
        depends="../assets/scss/**/*.scss",
        output="page.css",
        filters="scss, autoprefixer6"
    %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
    {% endassets %}

    {% block head %}{% endblock %}
</head><body class="background">

    <section class="static-page">
        {% block content %}{% endblock %}
    </section>

    {% block footer %}
        {% from 'macros/3rd-party.html' import google_analytics %}
        {{ google_analytics( ga_id ) }}
    {% endblock %}

</body></html>