<!DOCTYPE html>
<html><head>

    <meta charset="UTF-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="theme-color" content="#000813">

    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet" type="text/css" />

</head><body>

    <iframe class="page desktop-view" src="/pages"
        frameborder="0" border="0" cellspacing="0">
    </iframe>

    <iframe class="side-kick" src="/side-kick"
        frameborder="0" border="0" cellspacing="0">
    </iframe>

    <script src="{{ url_for('static', filename='home.js') }}"></script>

</body></html>