<!DOCTYPE html>
<html><head>

    <meta charset="UTF-8" />
    <title>It's your friendly side-kick!</title>

    <link href="{{ url_for('static', filename='side-kick.css') }}" rel="stylesheet" type="text/css" />

    <meta name="csrf-token" content="{{ csrf_token() }}" />

</head><body>
    {{ svg_sprite | safe }}

    <section class="side-kick">
        <nav class="devices">
            <a href="#" class="device">
                <svg class="icon">
                    <use class="use" xlink:href="#icons--mobile"></use>
                </svg>
                <span class="title">Mobile</span>
            </a>

            <a href="#" class="device current">
                <svg class="icon">
                    <use class="use" xlink:href="#icons--desktop"></use>
                </svg>
                <span class="title">Desktop</span>
            </a>
        </nav>

        <ul class="features">
            {% for feature in features %}
                <li class="feature {{ feature.class }}">
                    <header class="header">
                        <h3 class="title">{{ feature.title }}</h3>
                        <svg class="icon caret">
                            <use class="use" xlink:href="#icons--caret-up"></use>
                        </svg>
                    </header>
                    <form class="body" action="blah.php" method="post" enctype="multipart/form-data">
                        {% from 'macros/form.html' import input_text, textarea, select, upload_image %}
                        {% from 'macros/previews.html' import search as search_preview %}
                        {% for field in feature.fields %}
                            {% if field.type == "text" %}
                                {{ input_text( field ) }}
                            {% elif field.type == "textarea" %}
                                {{ textarea( field ) }}
                            {% elif field.type == "select" %}
                                {{ select( field ) }}
                            {% elif field.type == "image_upload" %}
                                {{ upload_image( field ) }}
                            {% elif field.type == "search_preview" %}
                                {{ search_preview( field ) }}
                            {% endif %}
                        {% endfor %}
                    </form>
                </li>
            {% endfor %}
        </ul>

        <button class="download" type="button">Download</button>

        <footer class="footer">
            version 0.0.1
        </footer>
    </section>

    {# <script> var initialData = {{ initial_data | safe }}; </script> #}
    <script src="{{ url_for('static', filename='side-kick.js') }}"></script>

</body></html>