<!DOCTYPE html>
<html><head>

    <meta charset="UTF-8" />
    <title>It's your friendly side-kick!</title>

    <link href="{{ url_for('static', filename='side-kick.css') }}" rel="stylesheet" type="text/css" />

    {# <meta name="csrf-token" content="{{ csrf_token() }}" /> #}

</head><body>
    {{ svg_sprite | safe }}

    <section class="side-kick">
        <nav class="devices">
            <a href="#" class="device">
                <svg class="icon">
                    <use class="use" xlink:href="#icons--mobile"></use>
                </svg>
                <span class="title">Mobile</span>
            </a>

            <a href="#" class="device current">
                <svg class="icon">
                    <use class="use" xlink:href="#icons--desktop"></use>
                </svg>
                <span class="title">Desktop</span>
            </a>
        </nav>

        <!--<ul class="features"></ul>-->
    </section>

    {# <script> var initialData = {!! $initial_data !!}; </script> #}
    {# <script src="{{ URL::asset('js/side-kick.js') }}"></script> #}

</body></html>