{% extends 'pages/_base.html' %}
{% set title = 'Thank you for subscribing to StaticPages ! =]' %}

{% block head %}
    {{ super() }}

    {% include 'macros/social.html' %}
{% endblock head %}

{% block content %}
    <article class="content">
        <h1 class="title">
            Thank You.
        </h1>

        <h2 class="sub-title">
            We promise to update you with the product release email.
        </h2>

        {% from 'macros/3rd-party.html' import add_this %}
        {{ add_this( pub_id ) }}
    </article>
{% endblock %}

{% block footer %}
    {{ super() }}

    {% from 'macros/3rd-party.html' import google_analytics %}
    {{ google_analytics( ga_id ) }}
{% endblock %}