{% extends 'pages/_layout.html' %}
{% set title = 'Welcome to StaticPages! =]' %}

{% block head %}
    {{ super() }}

    {% include 'macros/social.html' %}

    <style type="text/css" class="css-additional">
        html {
          font-size: {{ design.base_font_size }};
        }

        body {
            direction: {{ design.content_direction }};
        }

        body, button, input, select, textarea {
            color: {{ design.font_color }};
        }

        .background {
            background-color: {{ design.background_color }};
            background-repeat: {{ design.background_repeat }};
            background-size: {{ 'cover' if design.background_repeat == 'no-repeat' else 'auto' }};

            {% if design.background_image %}
                background-image: url('{{ design.background_image }}');
            {% endif %}
        }

        .page {
            text-align: {{ design.content_alignment }};
        }

        .logo {
            {% if design.content_alignment == "left" %}
                margin-left: 0;
                margin-right: auto;
            {% elif design.content_alignment == "right" %}
                margin-left: auto;
                margin-right: 0;
            {% else %}
                margin-left: auto;
                margin-right: auto;
            {% endif %}
        }
    </style>
{% endblock head %}

{% block content %}

    <article class="content">
        {% if content.logo %}
            <img class="logo" src="{{ content.logo }}" />
        {% endif %}

        {% if content.title %}
            <h1 class="title">
                {{ content.title }}
            </h1>
        {% endif %}

        {% if content.sub_title %}
            <h2 class="sub-title">
                {{ content.sub_title | nl2br }}
            </h2>
        {% endif %}

        {% if content.description %}
            <p class="description">
                {{ content.description | nl2br }}
            </p>
        {% endif %}
    </article>

    <form action="/welcome" method="POST" class="newsletter">
        {{ form.csrf_token }}
        {{ form.email(class="email", placeholder="your@email.work") }}
        <button type="submit" class="submit">Keep me posted!</button>
        {% for message in form.email.errors %}
            <p>{{ message }}</p>
        {% endfor %}
    </form>

    {% if has_subscribed == 'true' %}
        {% from 'macros/3rd-party.html' import add_this %}
        {{ add_this( pub_id ) }}
    {% endif %}

{% endblock %}

{% block footer %}
    {{ super() }}

    {% from 'macros/3rd-party.html' import google_analytics %}
    {{ google_analytics( ga_id ) }}

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='page.js') }}"></script>
    <script src="{{ url_for('static', filename='page-intervention.js') }}"></script>
{% endblock %}