<li class="feature page-info">
    <header class="header">
        <h3 class="title">Page Info</h3>
        <svg class="icon">
            <use class="use" xlink:href="#icons--caret-down"></use>
        </svg>
    </header>
    <form class="body" action="blah.php" method="post">
        <fieldset class="field-container">
            <label class="title" for=""></label>
            <div class="field-wrap">
                <input type="text" id="" name="" value="" placeholder="something..." />
            </div>
            <span class="message">Some descriptions and shit</span>
        </fieldset>
    </form>
</li>