<li class="feature page-info">
    <header class="header">
        <h3 class="title">Page Info</h3>
        <svg class="icon caret">
            <use class="use" xlink:href="#icons--caret-down"></use>
        </svg>
    </header>
    <form class="body" action="blah.php" method="post">
        <fieldset class="fieldset">
            <label class="title" for="name">Name</label>
            <div class="field-wrap">
                <input type="text" class="field" id="name" name="name" value="" placeholder="something..." />
            </div>
            <span class="message">Some descriptions and shit</span>
        </fieldset>
    </form>
</li>