{% macro base_form( fields={}, class="body", action="blah.php", method="post", target="_self", autocomplete="off" ) -%}
    <form class="{{ class }}"
        action="{{ action }}"
        method="{{ method }}"
        target="{{ target }}"
        autocomplete="{{ autocomplete }}">
        {{ caller() }}
        {% for field in fields %}
            {% if field.type == "text" %}
                {% from 'macros/form/text.html' import text %}
                {{ text( field ) }}
            {% elif field.type == "email" %}
                {% from 'macros/form/email.html' import email %}
                {{ email( field ) }}
            {% elif field.type == "password" %}
                {% from 'macros/form/password.html' import password %}
                {{ password( field ) }}
            {% elif field.type == "textarea" %}
                {% from 'macros/form/textarea.html' import textarea %}
                {{ textarea( field ) }}
            {% elif field.type == "select" %}
                {% from 'macros/form/select.html' import select %}
                {{ select( field ) }}
            {% elif field.type == "checkbox" %}
                {% from 'macros/form/checkbox.html' import checkbox %}
                {{ checkbox( field ) }}
            {% elif field.type == "file" %}
                {% from 'macros/form/file.html' import file %}
                {{ file( field ) }}
            {% elif field.type == "search_preview" %}
                {% from 'macros/previews.html' import search_preview %}
                {{ search_preview( field ) }}
            {% elif field.type == "submit" %}
                {% from 'macros/form/button.html' import submit %}
                {{ submit( field ) }}
            {% endif %}
        {% endfor %}
    </form>
{%- endmacro %}
