{% from 'macros/form/validation.html' import validation, wtf_errors %}

{% macro datepicker( field ) -%}
    <fieldset class="fieldset {{ field.class or field.id }}">
        <label class="label" for="{{ field.id }}">{{ field.label }}</label>
        <div class="datepicker-wrap">
            <input type="text"
                class="field {{ 'filled' if field.value }}"
                id="{{ field.id }}"
                name="{{ field.id }}"
                placeholder="{{ field.placeholder | default( field.default or '' ) }}"
                value="{{ field.value | strftime('%Y/%m/%d %H:%M') }}"
                {{ 'readonly' if field.readonly }}
            />
            <svg class="icon calendar">
                <use class="use" xlink:href="#calendar"></use>
            </svg>
            <svg class="icon close">
                <use class="use" xlink:href="#close"></use>
            </svg>
        </div>
        {{ validation( field.validation ) }}
        {{ wtf_errors( field.errors ) }}
        {% if field.message %}
            <span class="message">{{ field.message | markdown }}</span>
        {% endif %}
    </fieldset>
{%- endmacro %}
