{% from 'macros/form/validation.html' import validation %}

{% macro text( field ) -%}
    <fieldset class="fieldset {{ field.id }}">
        <label class="title" for="{{ field.id }}">{{ field.title }}</label>
        <div class="field-wrap">
            <input type="text"
                class="field"
                id="{{ field.id }}"
                name="{{ field.id }}"
                value="{{ field.value }}"
                placeholder="{{ field.placeholder | default( field.default or '' ) }}" />
        </div>
        {{ validation( field.validation ) }}
        {% if field.message %}
            <span class="message">{{ field.message | markdown }}</span>
        {% endif %}
    </fieldset>
{%- endmacro %}