{% from 'macros/form/validation.html' import validation %}

{% macro textarea( field ) -%}
    <fieldset class="fieldset {{ field.class or field.id }}">
        <label class="label" for="{{ field.id }}">{{ field.label }}</label>
        <div class="textarea-wrap">
            <textarea
                class="field"
                id="{{ field.id }}"
                name="{{ field.id }}"
                placeholder="{{ field.placeholder | default( field.default or '' ) }}">{{ field.value }}</textarea>
        </div>
        {{ validation( field.validation ) }}
        {% if field.message %}
            <span class="message">{{ field.message | markdown }}</span>
        {% endif %}
    </fieldset>
{%- endmacro %}
