{% from 'macros/form/validation.html' import validation, wtf_errors %}

{% macro text( field ) -%}
    <fieldset class="fieldset {{ field.class or field.id }}">
        <label class="label" for="{{ field.id }}">{{ field.label }}</label>
        <div class="field-wrap">
            <input type="text"
                class="field"
                id="{{ field.id }}"
                name="{{ field.id }}"
                value="{{ field.value }}"
                placeholder="{{ field.placeholder | default( field.default or '' ) }}"
                {{ 'readonly' if field.readonly }}
                {{ 'required' if field.required }}
            />
        </div>
        {{ validation( field.validation ) }}
        {{ wtf_errors( field.errors ) }}
        {% if field.message %}
            <span class="message">{{ field.message | markdown }}</span>
        {% endif %}
    </fieldset>
{%- endmacro %}
