@charset "UTF-8";

@import "frontend/scss/lib/variables";
@import "frontend/scss/lib/reset";

.background {
  background-attachment: fixed;
  background-position: 50% 50%;
  display: flex;

  &:before {
    background-color: rgba( #000, 0.15 );
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

.page {
  margin: auto;
  position: relative;
  width: 90%;
  z-index: 2;

  & > * {
    margin: 0 auto;
    width: 100%;
  }
}

.content {
  margin-top: px2rem(50);
  text-shadow: 1px 1px 0 rgba(#000, 0.9);

  & > * {
    &:not(.countdown-clock) {
      @include text-break;
    }

    margin-bottom: px2rem(25);
  }

  .logo {
    display: block;
    max-height: 100%;
    max-width: 100%;
  }

  .title {
    font-size: 4em;
    letter-spacing: px2rem(1);
  }

  .sub-title {
    font-size: 2em;
  }

  .description {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.5em;
  }
}

.newsletter {
  margin-bottom: px2rem(20);

  .email, .submit {
    background-color: transparent;
    border-radius: px2rem(5);
    border: px2rem(1) solid #fff;
    font-weight: 600;
    outline: 0;
    padding: px2rem(10) px2rem(12);

    &:hover, &:focus {
      box-shadow: px2rem(1) px2rem(1) px2rem(3) rgba(#000, 0.5);
    }
  }

  .email {
    margin-right: px2rem(5);

    &, &::placeholder {
      text-shadow: 1px 1px 0 rgba(#000, 0.9);
    }

    &::placeholder {
      opacity: 0.8;
    }
  }

  .submit {
    cursor: pointer;
    text-shadow: 1px 1px 0 rgba(#000, 0.9);
  }

  .message {
    @include text-break;

    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5em;
    text-shadow: 1px 1px 0 rgba(#000, 0.9);
  }
}

.add-this {
  height: 48px;
  margin-bottom: px2rem(25);
}

.countdown-clock {
  display: none;
  align-items: top;
  justify-content: center;

  .time .unit,
  .separator {
    font-size: 4em;
  }

  .time {
    .label {
      display: block;
      font-size: 1em;
      font-style: normal;
      font-weight: 600;
      text-align: center;
    }
  }
  .separator {
    line-height: px2rem(80);
    padding: 0 px2rem(10);
  }
}

.svgs-container {
  height: 0;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  width: 0;
}

.social-links {
  margin-top: px2rem(40);
  margin-bottom: px2rem(40);

  a {
    display: inline-block;
    margin-right: px2rem(15);
    vertical-align: middle;

    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    height: 32px;
    width: 32px;
  }
}

// min Netbook
@media ( min-width: 1024px ) {
  .page > * {
    width: 80%;
  }
}

@media ( max-width: 768px ) {
  .newsletter {
    & > div * {
      display: block;
      margin: 0 auto;
      text-align: center;
      width: 80%;
    }

    .email {
      margin-right: auto;
      margin-bottom: px2rem(20);
    }
  }
}
