<li class="mobile">
    <svg class="icon">
        <use xlink:href="#icons--mobile"></use>
    </svg>

    <span class="title">Mobile</span>
</li>

<li class="desktop current">
    <svg class="icon">
        <use xlink:href="#icons--desktop"></use>
    </svg>

    <span class="title">Desktop</span>
</li>