{% extends 'website/_base.html' %}

{% block head %}
    {{ super() }}

    {% include 'macros/social.html' %}
{% endblock head %}

{% block content %}
    {{ super() }}

    <form action="/welcome" method="POST" class="newsletter">
        {{ form.csrf_token }}
        {{ form.email(class="email", placeholder="your@email.work") }}
        <button type="submit" class="submit">Keep me posted!</button>
        {% for message in form.email.errors %}
            <p>{{ message }}</p>
        {% endfor %}
    </form>

    {% if has_subscribed == 'true' %}
        {% from 'macros/3rd-party.html' import add_this %}
        {{ add_this( pub_id ) }}
    {% endif %}
{% endblock %}

{% block footer %}
    {{ super() }}

    {% from 'macros/3rd-party.html' import google_analytics %}
    {{ google_analytics( ga_id ) }}

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>

    <script>
        jQuery( document ).ready(function ( $ ) {
            $('.newsletter').on('submit', function( event ) {
                var emailEl = $(this).children('#email');
                var emailAdress = emailEl.val().trim();

                function isEmail( address ) {
                    return /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/.test( address );
                }

                if ( ! emailAdress.length || ! isEmail( emailAdress ) ) {
                    emailEl.css({ 'border-color': '#f00' });
                    event.preventDefault();
                }
            });
        });
    </script>
{% endblock %}
