@charset "UTF-8";

@import "assets/scss/lib/variables";
@import "assets/scss/lib/reset";


body {
    background-color: #ccc;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.page {
    position: relative;
    transition: width 125ms ease-in, height 125ms ease-in;
    z-index: 1;

    &.desktop-view {
        height: 100%;
        width: 100%;
    }

    &.mobile-view {
        box-shadow: 0 0 4px 0 rgba( #000, 0.5 );
        height: 568px;
        width: 320px;
    }
}

.side-kick {
    background-color: #f1f1f1;
    box-shadow: 0 0 4px 0 rgba( #000, 0.3 );
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    z-index: 2;
}