{% macro google_analytics( ga_id ) -%}
    <script>
        window.ga = function() { ga.q.push( arguments ) }; ga.q = []; ga.l =+ new Date;
        ga( 'create', '{{ ga_id }}' ,'auto' );
        ga( 'send', 'pageview' )
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
{%- endmacro %}


{% macro add_this( pub_id ) -%}
    <div class="add-this addthis_inline_share_toolbox"></div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ pub_id }}"></script>
{%- endmacro %}