{% macro validation( rules ) %}
    {% if rules %}
        <ul class="validation">
            {% for rule, message in rules.items() %}
                <li class="{{ rule }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{%- endmacro %}

{% macro input_text( field ) -%}
    <fieldset class="fieldset {{ field.id }}">
        <label class="title" for="{{ field.id }}">{{ field.title }}</label>
        <div class="field-wrap">
            <input type="text"
                class="field"
                id="{{ field.id }}"
                name="{{ field.id }}"
                value="{{ field.value }}"
                placeholder="{{ field.placeholder | default( field.default or '' ) }}" />
        </div>
        {{ validation( field.validation ) }}
        {% if field.message %}
            <span class="message">{{ field.message | markdown }}</span>
        {% endif %}
    </fieldset>
{%- endmacro %}

{% macro textarea( field ) -%}
    <fieldset class="fieldset {{ field.id }}">
        <label class="title" for="{{ field.id }}">{{ field.title }}</label>
        <div class="textarea-wrap">
            <textarea
                class="field"
                id="{{ field.id }}"
                name="{{ field.id }}"
                placeholder="{{ field.placeholder }}">{{ field.value }}</textarea>
        </div>
        {{ validation( field.validation ) }}
        {% if field.message %}
            <span class="message">{{ field.message | markdown }}</span>
        {% endif %}
    </fieldset>
{%- endmacro %}

{% macro select( field ) -%}
    {% set selectedKey = field.value if field.value else field.default %}
    <fieldset class="fieldset {{ field.id }}">
        <label class="title" for="{{ field.id }}">{{ field.title }}</label>
        <div class="select-wrap">
            <select id="{{ field.id }}" name="{{ field.id }}" class="field">
                {% for option in field.options %}
                    {% set selected = "selected" if selectedKey == option.key else "" %}
                    <option value="{{ option.key }}" {{ selected }}>{{ option.value }}</option>
                {% endfor %}
            </select>
            {# <span class="selected-text">{{ selectedKey }}</span> #}
            <span class="selected-text">
                {% set selected_text = field.options | selectattr( "key", "equalto", selectedKey ) %}
                {% for text in selected_text %}
                    {{ text.value }}
                {% endfor %}
            </span>
            <div class="caret">
                <svg class="icon caret-up">
                    <use class="use" xlink:href="#icons--caret-up"></use>
                </svg>
                <svg class="icon caret-down">
                    <use class="use" xlink:href="#icons--caret-down"></use>
                </svg>
            </div>
        </div>
        {% if field.message %}
            <span class="message">{{ field.message | markdown }}</span>
        {% endif %}
    </fieldset>
{%- endmacro %}

{% macro file( field ) -%}
    <fieldset class="fieldset {{ field.id }}">
        <label class="title" for="{{ field.id }}">{{ field.title }}</label>
        <div class="file-wrap">
            <input type="file"
                class="field"
                id="{{ field.id }}"
                name="{{ field.id }}"
                accept="{{ field.accepted.formats | join(', ') }}"
                data-accept-size="{{ field.accepted.size | default('128000') }}"
                value="{{ field.value }}" />
            {% set file_name = field.value.split('/')[-1] %}
            <span class="choosen-file-name" data-placeholder="{{ field.placeholder }}">{{ file_name }}</span>
            <svg class="icon upload">
                <use class="use" xlink:href="#icons--upload"></use>
            </svg>
            <svg class="icon close">
                <use class="use" xlink:href="#icons--close"></use>
            </svg>
        </div>
        {{ validation( field.validation ) }}
        {% if field.message %}
            <span class="message">{{ field.message | markdown }}</span>
        {% endif %}
    </fieldset>
{%- endmacro %}