{% macro input_text( field ) -%}
    <fieldset class="fieldset {{ field.id }}">
        <label class="title" for="{{ field.id }}">{{ field.title }}</label>
        <div class="field-wrap">
            <input type="text"
                class="field"
                id="{{ field.id }}"
                name="{{ field.id }}"
                value="{{ field.value }}"
                placeholder="{{ field.placeholder }}" />
        </div>
        {% if field.message %}
            <span class="message">{{ field.message | markdown }}</span>
        {% endif %}
    </fieldset>
{%- endmacro %}

{% macro textarea( field ) -%}
    <fieldset class="fieldset {{ field.id }}">
        <label class="title" for="{{ field.id }}">{{ field.title }}</label>
        <div class="textarea-wrap">
            <textarea
                class="field"
                id="{{ field.id }}"
                name="{{ field.id }}"
                placeholder="{{ field.placeholder }}">{{ field.value }}</textarea>
        </div>
        {% if field.message %}
            <span class="message">{{ field.message | markdown }}</span>
        {% endif %}
    </fieldset>
{%- endmacro %}

{% macro select( field ) -%}
    <fieldset class="fieldset {{ field.id }}">
        <label class="title" for="{{ field.id }}">{{ field.title }}</label>
        <div class="select-wrap {{ 'disabled' if field.is_disabled is equalto 1 }}">
            {% if field.is_disabled is equalto 0 %}
                <select id="{{ field.id }}" name="{{ field.id }}" class="field">
                    {% for option in field.options %}
                        {% set selected = "selected" if field.value == option.key else "" %}
                        <option value="{{ option.key }}" {{ selected }}>{{ option.value }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            <span class="selected-text">
                {% set selected_text = field.options | selectattr( "key", "equalto", field.value ) %}
                {% for text in selected_text %}
                    {{ text.value }}
                {% else %}
                    {{ field.options[0].value }}
                {% endfor %}
            </span>
            <div class="caret">
                <svg class="icon caret-up">
                    <use class="use" xlink:href="#icons--caret-up"></use>
                </svg>
                <svg class="icon caret-down">
                    <use class="use" xlink:href="#icons--caret-down"></use>
                </svg>
            </div>
        </div>
        {% if field.message %}
            <span class="message">{{ field.message | markdown }}</span>
        {% endif %}
    </fieldset>
{%- endmacro %}

{% macro upload_image( field ) -%}
    <fieldset class="fieldset {{ field.id }}">
        <label class="title" for="{{ field.id }}">{{ field.title }}</label>
        <div class="upload-wrap">
            <input type="file"
                class="field"
                id="{{ field.id }}"
                name="{{ field.id }}"
                value="{{ field.value }}" />
            <span class="choosen-file-name" data-placeholder="{{ field.placeholder }}">{{ field.value }}</span>
            <svg class="icon">
                <use class="use" xlink:href="#icons--upload"></use>
            </svg>
        </div>
        {% if field.message %}
            <span class="message">{{ field.message | markdown }}</span>
        {% endif %}
    </fieldset>
{%- endmacro %}