<div id="social-icons-svgs">
  <svg xmlns="http://www.w3.org/2000/svg">
    {% if is_intervention %}
      {% set social_icon_types = [
          "black",
          "black-circle",
          "black-hollow-circle",
          "black-square",
          "colored",
          "white",
          "white-circle",
          "white-hollow-circle",
          "white-square"
        ] %}
    {% else %}
      {% set social_icon_types = [ social_links_icon_style ] %}
    {% endif %}

    {% for icon_type in social_icon_types if is_intervention or social_links_icon_style != 'none' %}
      {% if is_intervention or social_links_facebook_link %}
        {% include icon_type + '/facebook.svg' %}
      {% endif %}
      {% if is_intervention or social_links_instagram_link %}
        {% include icon_type + '/instagram.svg' %}
      {% endif %}
      {% if is_intervention or social_links_linkedin_link %}
        {% include icon_type + '/linkedin.svg' %}
      {% endif %}
      {% if is_intervention or social_links_twitter_link %}
        {% include icon_type + '/twitter.svg' %}
      {% endif %}
      {% if is_intervention or social_links_youtube_link %}
        {% include icon_type + '/youtube.svg' %}
      {% endif %}
    {% endfor %}
  </svg>
</div>

<nav class="social-links {{ 'none' if social_links_icon_style == 'none' }}">

  {% if is_intervention or social_links_facebook_link %}
    <a href="{{ social_links_facebook_link }}" target="_blank" title="Facebook Link" name="social_links_facebook_link" class="{{ 'none' if social_links_facebook_link == '' }}">
      <svg><use xlink:href="#{{social_links_icon_style}}-facebook"></use></svg>
    </a>
  {% endif %}

  {% if is_intervention or social_links_instagram_link %}
    <a href="{{ social_links_instagram_link }}" target="_blank" title="Instagram Link" name="social_links_instagram_link" class="{{ 'none' if social_links_instagram_link == '' }}">
      <svg><use xlink:href="#{{social_links_icon_style}}-instagram"></use></svg>
    </a>
  {% endif %}

  {% if is_intervention or social_links_linkedin_link %}
    <a href="{{ social_links_linkedin_link }}" target="_blank" title="LinkedIn Link" name="social_links_linkedin_link" class="{{ 'none' if social_links_linkedin_link == '' }}">
      <svg><use xlink:href="#{{social_links_icon_style}}-linkedin"></use></svg>
    </a>
  {% endif %}

  {% if is_intervention or social_links_twitter_link %}
    <a href="{{ social_links_twitter_link }}" target="_blank" title="Twitter Link" name="social_links_twitter_link" class="{{ 'none' if social_links_twitter_link == '' }}">
      <svg><use xlink:href="#{{social_links_icon_style}}-twitter"></use></svg>
    </a>
  {% endif %}

  {% if is_intervention or social_links_youtube_link %}
    <a href="{{ social_links_youtube_link }}" target="_blank" title="Youtube Link" name="social_links_youtube_link" class="{{ 'none' if social_links_youtube_link == '' }}">
      <svg><use xlink:href="#{{social_links_icon_style}}-youtube"></use></svg>
    </a>
  {% endif %}
</nav>
