@import "node_modules/air-datepicker/dist/css/datepicker.min";
[class^="datepicker"] svg {
  display: inline-block;
}


@import "frontend/scss/side-kick/devices";
@import "frontend/scss/side-kick/features";
@import "frontend/scss/side-kick/buttons";

.side-kick {
  padding: 20px 20px 0 20px;

  & > * {
    margin: 0 0 20px 0;
  }
  & {
    color: #333;
  }

  a {
    color: #0073aa;
  }

  .footer {
    color: rgba(#000, 0.5);
    font-size: 10px;
    text-align: center;
  }
}
