@charset "UTF-8";

// Normalize
@import "../../../node_modules/normalize-scss/sass/normalize/import-now";

// Google Fonts
@import url("http://fonts.googleapis.com/earlyaccess/opensanshebrew.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subweset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext");

// Font set
body, button, input[type="text"], select, textarea {
    -webkit-font-smoothing: antialiased;
    color: #000;
    font-family: 'Open Sans', 'Open Sans Hebrew', Tahoma, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.svg-icons {
    display: none;
}

.mobile svg {
    width: 16px;
    height: 16px;
}

.footer {
    font-size: 70%;
    margin: 10px 0;
    text-align: center;
}