{% import "./forms.njk" as forms %}

<li class="feature page-info">
    <header class="header">
        <h3 class="title">{{ title }}</h3>
        <svg class="icon caret">
            <use class="use" xlink:href="#icons--caret-up"></use>
        </svg>
    </header>
    <form class="body" action="blah.php" method="post" enctype="multipart/form-data">
        {% for field in fields %}
            {% if field.type == "text" %}
                {{ forms.text( field ) }}
            {% elif field.type == "select" %}
                {{ forms.select( field ) }}
            {% elif field.type == "image-upload" %}
                {{ forms.uploadImage( field ) }}
            {% endif %}
        {% endfor %}
    </form>
</li>