<!DOCTYPE html>
<html><head>

    <meta charset="UTF-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="theme-color" content="#3D5E57">

    {% from 'macros/favicon.html' import favicon %}
    {{ favicon() }}

    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet" type="text/css" />

</head><body>
    {% if not on_phone %}
        <div class="page-view">
            <iframe class="page desktop-view" name="page" src="{{ url_for('page_intervention', page_id=page_id) }}"
                frameborder="0" border="0" cellspacing="0">
            </iframe>
        </div>
    {% endif %}

    <iframe class="side-kick {{ 'full-width' if on_phone }}" name="side-kick" src="{{ url_for('side_kick', page_id=page_id) }}"
        frameborder="0" border="0" cellspacing="0">
    </iframe>

    {% from 'macros/3rd-party.html' import google_analytics %}
    {{ google_analytics( ga_id ) }}

    <script src="{{ url_for('static', filename='home.js') }}"></script>

</body></html>
