<!DOCTYPE html>
<html><head>

    <meta charset="UTF-8" />
    <title>It's your friendly side-kick!</title>

    <link href="{{ url_for('static', filename='side-kick.css') }}" rel="stylesheet" type="text/css" />

    <meta name="csrf-token" content="{{ csrf_token() }}" />

</head><body>
    {{ svg_sprite | safe }}

    <section class="side-kick">
        <nav class="devices">
            <a href="/page/{{ site_name }}" class="link" target="_blank">
                <svg class="icon">
                    <use class="use" xlink:href="#icons--preview"></use>
                </svg>
                <span class="title">Page</span>
            </a>

            <a href="/mobile" class="device">
                <svg class="icon">
                    <use class="use" xlink:href="#icons--mobile"></use>
                </svg>
                <span class="title">Mobile</span>
            </a>

            <a href="/desktop" class="device current">
                <svg class="icon">
                    <use class="use" xlink:href="#icons--desktop"></use>
                </svg>
                <span class="title">Desktop</span>
            </a>
        </nav>

        <ul class="features">
            {% for feature in features %}
                <li class="feature {{ feature.name }}">
                    <header class="header">
                        <h3 class="title">{{ feature.title }}</h3>
                        <svg class="icon caret">
                            <use class="use" xlink:href="#icons--caret-up"></use>
                        </svg>
                    </header>
                    <div class="body" action="blah.php" method="post">
                        {% for field in feature.fields %}
                            {% if field.type == "text" %}
                                {% from 'macros/form/text.html' import text %}
                                {{ text( field ) }}
                            {% elif field.type == "textarea" %}
                                {% from 'macros/form/textarea.html' import textarea %}
                                {{ textarea( field ) }}
                            {% elif field.type == "select" %}
                                {% from 'macros/form/select.html' import select %}
                                {{ select( field ) }}
                            {% elif field.type == "file" %}
                                {% from 'macros/form/file.html' import file %}
                                {{ file( field ) }}
                            {% elif field.type == "search_preview" %}
                                {% from 'macros/previews.html' import search_preview %}
                                {{ search_preview( field ) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>

        <button class="download none" type="button">Download</button>

        <footer class="footer">
            version 0.0.1 / <a href={{ url_for('auth.logout') }} target="_parent">logout</a>.
        </footer>
    </section>

    <script>var page_api_url = '{{ page_api_url }}';</script>
    <script src="{{ url_for('static', filename='side-kick.js') }}"></script>

</body></html>
