{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container-fluid">
        <div class="row" style="margin-top: 20px;">
            {% for message in get_flashed_messages() %}
                <div class="col-xs-12 col-md-4 col-md-offset-4">
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% block page_content %}{% endblock %}
    </div>
{% endblock %}