{% extends "auth/_base.html" %}

{% block side_kick %}
    <div class="feature {{ side_kick.name }}">
        <header class="header">
            <h3 class="title">{{ side_kick.title }}</h3>
        </header>
        {% from 'macros/form/base.html' import base_form %}
        {% call base_form( class='body auth-form', fields=side_kick.fields, action=url_for('auth.forgot_password'), autocomplete='on' ) %}
            {% from 'macros/form/validation.html' import flashed_messages %}
            {{ flashed_messages( get_flashed_messages( with_categories = true ) ) }}
            {{ form.csrf_token }}
        {% endcall %}

        <p class="fine-print">
            Remember your password? <a href="{{ url_for('auth.login') }}">Login</a>.
        </p>
    </div>
{% endblock %}
