<a href="#" class="device">
    <svg class="icon">
        <use class="use" xlink:href="#icons--mobile"></use>
    </svg>

    <span class="title">Mobile</span>
</a>

<a href="#" class="device current">
    <svg class="icon">
        <use class="use" xlink:href="#icons--desktop"></use>
    </svg>

    <span class="title">Desktop</span>
</a>